streamlit
crewai
transformers
sentence-transformers
torch
faiss-cpu
PyPDF2
requests
google-generativeai
litellm
youtube-transcript-api
pysqlite3-binary
numpy
PyPDF2
python-docx
streamlit-extras
speechrecognition
sounddevice
soundfile

